body{
    width:100vw;
    height:100vh;
    margin: 0;
}
#playGround{
    display: flex;
    flex-wrap:wrap;
    #aiBoard{
        flex:1;
        margin: 10px;
    }
    #userBoard{
        flex:1;
        margin: 10px;
    }
    
    table{
        position: relative;
        width:30%;
        height:50%px;
        margin: auto;
    }
   th{
       border:2px solid rgb(11, 36, 105);
       
   }
   td{
        border:2px solid rgb(21, 14, 119);
        text-align: center;
        width: 1em;
        height:3em
   }

}