body{
    width:100vw;
    height:100vh;
    margin: 0;
}
#playGround{
    
    table{
        position: relative;
        width:60%;
        height:500px;
        margin: auto;
    }
   th{
       border:2px solid rgb(11, 36, 105);
       
   }
   td{
        border:2px solid rgb(21, 14, 119);
        text-align: center;
   }

}